{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="{% static 'js/login.js' %}" defer></script>
  <title>Login</title>
  <!-- 로그인 영역 스타일 -->
  <link rel="stylesheet" href="{% static 'css/loginstyle.css' %}">
  <!-- 공통요소 스타일 -->
  <link rel="stylesheet" href="{% static 'css/common.css' %}" />
  <noscript>
    <link rel="stylesheet" href="{% static 'css/noscript.css' %}" />
  </noscript>

</head>

<body>

  <!-- div#page-wrapper + #header #footer + header 스타일 추가 + 하위 script 8개 추가,  -->
  <div id="page-wrapper">

    <!-- Header -->
    <header id="header">
      <h1 id="logo"><a href="index.html">C#</a></h1>
      <nav id="nav">
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="list.html">Project</a></li>
          <li>
            <a href="#">Connect</a>
            <ul>
              <li><a href="community.html">Community</a></li>
              <li><a href="contact.html">Contact</a></li>
            </ul>
          </li>
          <li><a href="shop.html">Shop</a></li>
          <li><a href="login.html" class="button primary">Sign Up</a></li>
        </ul>
      </nav>
    </header>

    <!-- 본문 -->

    <!-- 전체 박스 -->
    <div class="wrapper">
      <!-- 실질적인 내용 -->
      <div class="container">
          <!-- sign up 컨테이너(회원가입) -->
        <div class="sign-up-container">
          <form onSubmit="return signUp(this);">
            <h1>Create Account</h1>
            <span>or use your Student ID for registration</span>
            <input name="name" type="text" placeholder="Name" >
            <!-- <input type="text" placeholder="Student ID"> -->
            <input name="id" type="ID" placeholder="ID">
            <input name="pw" type="password" placeholder="Password">
            <input name="pwCheck" type="password" placeholder="Password Check">
            <!-- 재 확인용 -->

            <button class="form_btn">Sign Up</button>
          </form>
        </div>

        <!-- sign in 컨테이너(로그인) -->
        <div class="sign-in-container">
          <form onSubmit="return signIn(this);">
            <h1>Sign In</h1>
            <span>or use your account</span>
            <input name="id" type="ID" placeholder="ID" id="signInId">
            <input name="pw" type="password" placeholder="Password" id="signInPw">
            <button class="form_btn" >Sign In</button>
          </form>
        </div>

        <div class="overlay-container">
          <div class="overlay-left">
            <!-- sign in(로그인)을 위한 오버레이  -->
            <h1>Welcome Back</h1>
            <p>To keep connected with us please login with your personal info</p>
            <button id="signIn" class="overlay_btn">Sign In</button>
          </div>

          <div class="overlay-right">
            <!-- sign up(회원가입) 을 위한 오버레이 -->
            <h1>Hello, Friend</h1>
            <p>Enter your personal details and start community with us</p>
            <button id="signUp" class="overlay_btn">Sign Up</button>
          </div>

        </div>
      </div>
    </div>

  <!-- 본문 끝 -->

  <!-- Footer -->
  <footer id="footer">
    <ul class="copyright">
      <li>&copy; Untitled. All rights reserved.</li>
      <li>Team : ssim-zang</li>
    </ul>
  </footer>

  <!-- script -->
  {% static '' %}
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/jquery.scrolly.min.js' %}"></script>
  <script src="{% static 'js/jquery.dropotron.min.js' %}"></script>
  <script src="{% static 'js/jquery.scrollex.min.js' %}"></script>
  <script src="{% static 'js/browser.min.js' %}"></script>
  <script src="{% static 'js/breakpoints.min.js' %}"></script>
  <script src="{% static 'js/util.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>

  <script>
    function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
          var cookie = cookies[i].trim();
          // Does this cookie string begin with the name we want?
          if (cookie.substring(0, name.length + 1) === (name + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookieValue;
    }

    var csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
      // these HTTP methods do not require CSRF protection
      return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
      beforeSend: function (xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
          xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
      }
    });

    function signIn(obj) {
      if (!obj.id.value) {
        alert("id를 입력해주세요.");
        return false;
      }
      if (!obj.pw.value) {
        alert("password를 입력해주세요.");
        return false;
      }
      $.ajax({
        type: "POST",
        url: '/member/login',
        data: {
          'id': obj.id.value,
          'pw': obj.pw.value,
          'csrfmiddlewaretoken': csrftoken
        },
        success: function (ajax_data) {
          window.location.href = '/';
        },
        error: function (xhr, status, error) {
          alert("ID 혹은 Password를 확인해주세요.");
        }
      });
      return false;
    }
    function signUp(obj) {
      if (!obj.name.value || !obj.id.value || !obj.pw.value) {
        alert("모두 입력해주세요.");
        return false;
      }
      if (obj.pw.value != obj.pwCheck.value) {
        alert("비밀번호를 확인해주세요.");
        return false;
      }
      $.ajax({
        type: "POST",
        url: '/member/create',
        data: {
          'id': obj.id.value,
          'pw': obj.pw.value,
          'name': obj.name.value,
          'csrfmiddlewaretoken': csrftoken
        },
        success: function (ajax_data) {
          window.location.href = '/';
        },
        error: function (xhr, status, error) {
          alert("중복된 ID입니다.");
        }
      });
      return false;
    }
  </script>
</body>

</html>