{% extends 'base.html' %}
{% load static %}
<!-- 페이지별 title -->
{% block title %}
{% endblock %}

<!-- head 부분 페이지별 추가적인 css, js 있으면 여기에 -->
{% block extra_code %}
    <link rel="stylesheet" href="{% static 'css/project-detail.css' %}">
{% endblock %}
{% block content %}


  <div id="cardOuterbox">

    <div id="titleBox">
        <!-- 제목 -->
      <h2 id="cardTitle">Caerang WebSite</h2>
    </div>

    <div id="cardBox">

        <div class="box">
            <div class="box1">
                <!-- 사진 -->
                <img src="/static/images/pj1.png" alt="">
            </div>
        </div>
        <div class="box2">
            <p>프로젝트명: <span>C#</span></p>
            <p>팀명: <span>Cim-Zzang</span></p>
            <p>팀원: <span>이제일 김대현 연예림</span></p>
            <!-- 디테일 기능 설명 -->
            <ul>
                <li>[ Tag ] : Web</li>
                <li>씨애랑만의 개발 커뮤니티</li>
                <li>완성한 프로젝트를 업로드하고 열매를 얻어보세요!</li>
            </ul>
        </div>
        <div class="box3">
            <p>
                프로젝트 이름이 Cshop(#) 의 이유는 기존의 씨애랑 홈페이지에, 추가하면 좋을 기능들을 생각하다가.  싸이월드 처럼 재화를 획득하여 재화로 하여금 실제로 도움이되는 기회를 아이템으로 구입하고자 했습니다. 아직 졸업생들인 OB분들의 의견을 듣지는 못했지만, OB분들과의 이야기를 나누며, 재학생들에게 더 많은 기회와 교육 수준을 끌어올려주시면 좋을거같아서 기획해봤습니다 .
            </p>
            <p>
                여타 다른 씨애랑 홈페이지와 다른것은, 재미를 조금 추가했다는 것 입니다.  깃허브 커밋과, 프로젝트를 업로드하여 받을 수 있는 경험치로 마이페이지에 있느 씨앗을 키워 일정 레벨이 도달하면, 0레벨로 초기화 되고, 재화인 열매를 얻게됩니다. 이 재화를 바탕으로, OB분들과의 면담이나 자기소개서 검토 등 좋은 기회를 얻을 수 있게 해주었습니다. 
            </p>

            <p>
                - 애랑 열매 <br>
                깃허브 커밋과 완성된 프로젝트 업로드로 열매를 얻고 시니어 분들과의 만남의 기회를 얻을 수 있습니다.
            </p>

            <p>
                - 씨애랑 프로젝트 <br>
                개개인들의 프로젝트를 간략한 소개와 함께 업로드하며 애랑 열매를 얻을 수 있습니다.
            </p>

            <p>
                - 씨애랑 커뮤니티 <br>
                씨애랑 내부게시판, 자유게시판을 통해 함께 공부할, 개발할 사람들을 찾을 수 있습니다.
            </p>


        </div>
    </div>

  </div>


{% endblock %}

<!-- 페이지별 추가 스크립트 추가 -->
{% block extra_script %}
{% endblock %}