{% extends 'base.html' %}
{% load static %}
<!-- 페이지별 title -->
{% block title %}
{% endblock %}

<!-- head 부분 페이지별 추가적인 css, js 있으면 여기에 -->
{% block extra_code %}

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.5.0/css/all.css'>
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Inconsolata'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel="stylesheet" href="{% static 'css/shop.css'%}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
{% endblock %}

<!-- 본문 (body) 내용 추가 -->
{% block content %}


<div id="modal-container">
  <div class="modal-background">
    <div class="modal">
      <div class="modal_card" id="modalCard">
        <div class="modal_card-back" style="padding: 0.75em;" id="modalCardBack">
          <p>C<sup style="font-size: small;">#</sup></p>
          <h3 id="modalEffect" style="font-size: 25px;line-height: 25px;margin-bottom: 15px;margin-top: 1em;color:black;">
            Advantage ex) 식사권, 서류합격, 멘토링 등
          </h3>
          <button style="margin: auto auto 0 auto;background-color: #a7d7a3b0;width: fit-content;vertical-align: middle;font-size: 20px; border-radius: 12px;padding-right: 10px;">
            <img  src ="{% static 'images/seedimg/fruit.png' %}" style='margin: 8px;vertical-align: middle;' width="20px" height="20px"/>
            x 100
          </button>
        </div>
        <div class="modal_card-front" id="modalCardFront">
        </div>
    </div>
  </div>
</div>
</div>



<div style="position:fixed;color:white;margin: 3em;max-width: 32em;z-index: 50;text-shadow: 1px 1px 2px grey;">
                  <h1 style="font-size: 2.75rem;font-weight: 600;line-height: 1.5;">Meat The Seniors</h1>
                  <p style="font-size: 1rem;font-weight: 300;line-height: 1.7;">그동안의 개발 기록과 커밋 기록을 통해 모은 노력의 결실 '애랑 열매'로 씨애랑 선배님들, 조언자 분들을 만나보세요.</p>
                </div>


<div class="content"style="background: transparent;">
  <main>
    <div class="cards" style="margin-top: 10em;">
        
        
              {% for d in data %} 
              
      <a class="stack" href="#">
        <div class="card top" style="background-position: center;
        background-image: url({{ d.backgroundImages }});
        "> 
          
          <div class="contents">
            <h2><strong>{{ d.name }} </strong></h2 >
            <h3 style="color:black;">{{ d.obName }} </h3>
            <p style="color:black;">{{ d.job }} </p>
            <br/>
            <span style="color:black;"><p>{{ d.summary }} </p></span>
              <img class="cardImage" src="{{ d.logoImages }}">
          </div>
        </div>
          <div style="display:none;">{{d.effect}}</div>
        <div class="card mid-top" style="background-image: url({{ d.backgroundImages }});">
          <div class="contents">
            <div class="city" style="color:black;">{{ d.summary }}</div>
          </div>
        </div>
        <div class="card mid-bottom" style="background-image: url({{ d.backgroundImages }});">
          <div class="contents">
            <div class="city" style="color:black;">{{ d.summary }}</div>
          </div>
        </div>
        <div class="card bottom" style="background-image: url({{ d.backgroundImages }});">
          <div class="contents">
            <div class="city" style="color:black;">{{ d.summary }}</div>
          </div>
        </div>
        <div class="card shadow"></div>
      </a>

              {% endfor %}
      
    </div>
  </main>
</div>

{% endblock %}

<!-- 페이지별 추가 스크립트 추가 -->
{% block extra_script %}
  <script  src="{% static 'js/shop.js'%}"></script>
{% endblock %}


